*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    border: 1px solid black;
    text-align: center;
    height: 110px;
    padding: 20px;
    background-color: rgb(27, 27, 183);
}

#container input{
    margin: 0 20px;
    width: 40%;
    padding: 10px;
}

#container button{
    padding: 10px 20px;
    background-color: rgb(81, 81, 215);
    border: 1px solid white;
    color: white;
    border-radius: 15px;
}

#taskContainer{
    border: 1px solid black;
    min-height: 100vh;
    background-color: blue;
}

.task{
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgb(81, 81, 215);
    color: white;
    padding: 20px;
    list-style-type: none;
    font-size: 20px;
    width: 70%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.error{
    background-color: red;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    width: 40%;
    margin: 10px auto;
    padding: 3px;
}