<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Vue To Do List</title>
</head>
<body>
    
    <div id="app">
        <div id="container">
            <input type="text" placeholder="Inserisci un nuovo promemoria" v-model="newTask">
            <button @click="addTask">Aggiungi Task</button>

            <!-- output di errore -->
            <div class="error" v-if="error">
                Inserire una task di almeno 5 caratteri
            </div>
        </div>

        <div id="taskContainer">
            <ul>
                <li class="task" v-for="task in listTask">
                    {{task.text}}
                    <i class="fa-solid fa-delete-left" style="color: #ffffff;"></i>
                </li>
            </ul>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js"></script>
</body>
</html>